.header-container{
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom:1px solid #eaeaea;
    padding:10px 30px;
}

.header-container .user-container{
    width:auto;
    height: 100%;
    padding:7px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 7px;
    display:flex;justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-container .user-container span{
    margin-right: 10px;
}

.header-container .user-container:hover{
    background-color: rgba(234, 234, 234, 1);
}

.avatar-container {
    position: fixed;
    top: 0;
    right: 0;
}